<!-- Simpel div med et ejs kald som vil modtage tekst fra serveren -->
<div id="popup"><%= besked %></div>

<!-- Henter javascriptet til popup funktionen -->
<script src="../javascripts/popup.js" charset="utf-8"></script>
