<!DOCTYPE html>
<html lang="da">
<head>
    <% include ../../partials/head %>
</head>
<body>

    <header>
        <% include ../../partials/header %>
    </header>

    <main class="fluid-container mt-3">
        <form class="col-md-4" action="/opdater-titel" method="post">
            <div class="input-group mb-3">
                <input id="titelInput" name="titelInput" type="text" class="form-control" value="<%= titel %>">
                <div class="input-group-append">
                    <button id="titelKnap" class="btn btn-outline-secondary" type="submit">Skift titel</button>
                </div>
            </div>
        </form>
        <% include ../../partials/popup %>
    </main>

    <footer>
        <% include ../../partials/footer %>
    </footer>
    <% include ../../partials/scripts %>
    <script src="javascripts/onChange.js" charset="utf-8"></script>
</body>
</html>
