<!DOCTYPE html>
<html lang="en">
    <head>
        <% include ../partials/head %>
    </head>
    <body>
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="error-template">
              <h1>Oops!</h1>
              <h3>404 Ugyldig side</h3>
              <div class="error-details">
                  Beklager, vi kunne ikke finde siden!
              </div>
              <div class="error-actions">
                  <a href="/" class="btn btn-primary btn-lg col-5">Før mig hjem</a>
              </div>
            </div>
          </div>
        </div>
      </div>

			<% include ../partials/scripts %>
    </body>
</html>
