<!DOCTYPE html>
<html lang="da">

<head>
	<% include ../partials/head %>
</head>

<body>

	<header>
		<% include ../partials/header %>
	</header>

	<main>
		<p class="m-5 p-5">Velkommen til
			<%= titel %>
		</p>
		<% arrangementer.forEach( function (arrangement) { %>

			<div class="card" style="width: 18rem;">
				<img class="card-img-top" src="" alt="<%= arrangement.titel %>">
				<div class="card-body">
					<h5 class="card-title"><%= arrangement.titel %></h5>
					<p class="card-text"><%= arrangement.beskrivelse %></p>
					<a href="/" class="btn btn-primary">Læs mere</a>
				</div>
			</div>

		<% }) %>
	</main>

	<footer>
		<% include ../partials/footer %>
	</footer>
	<% include ../partials/scripts %>
		<script src="javascripts/cookiesamtykke.js"></script>
</body>

</html>