<!DOCTYPE html>
<html lang="da">
<head>
    <% include ../partials/head %>
</head>
<body>

    <header>
        <% include ../partials/header %>
    </header>

    <main>
        <p class="m-5 p-5">Velkommen til <%= titel %></p>
    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>
    <% include ../partials/scripts %>
</body>
</html>
